
body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
}

#options {
    text-align: center;
    margin: 20px 0;
}

#photo-source {
    font-size: 16px;
    padding: 5px;
    border: 1px solid #ccc;
}

#start-game {
    font-size: 16px;
    padding: 5px 10px;
    background-color: #3498db;
    color: #fff;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out;
}

#start-game:hover {
    background-color: #2980b9;
}

#game {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    color: #3498db;
}
.memory-card {
    width: 100%;
    height: 0;
    padding-bottom: 100%;
    background-color: black; 
    cursor: pointer;
    transition: transform 0.3s ease-in-out;
    transform: rotateY(180deg); /* Start cards face down */
    color:black ;
}

.memory-card.flipped {
    transform: rotateY(0deg); /* Flip cards face up */
    background-color: #fff; /* Flipped card background color */
}










